.Keypad {
    color: brown;
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: center;
}

.button {
    display: block;
    background-color: #bbb;
  }
  
  button {
    width: 25%;
    height: 60px;
    font-size: 30px;
  }