.book {
    border: 3px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    width:30%;
    height: auto;
    background-color: lightgrey;
}

.bookEdit {
    position: fixed;
    border: 5px;
}

.edit {
    border: 1px;
    width:fit-content;
    cursor:crosshair;
    border-color: green;
    background-color: lightgreen;
}